.header {
    background-color: transparent;
    font-size: 0;
    left: 0;
    padding: 60px 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_01;
    }

.main-navigation-item a {
    font-size: 24px;
    }