.intro {
    pointer-events: none;
    text-align: center;
    // z-index: -1;

    .logo-large {
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}